/* esta clase genera un rectangulo de 500 x 800 pixeles */
.container {
  height: 500px;
  width: 580px;
  /* ademas le da un borde s칩lido de 3px de color salm칩n */
  /* salm칩n, como el color de la camisa de ross 游 */
  border: 3px solid salmon;
}

/* este selector hace que todas las etiquetas div tengan el mismo tama침o */
div {
  height: 80px;
  width: 80px;
  background-color: rgb(236, 236, 236);
  border: 1px solid black;
  /* mas adelante hablaremos de la propiedad float */
  float: left;
}

/* crea clases para especificar colores, los cuales usaras
para crear tus piezas de tetris, por ejemplo, esta: */

.orange {
  background-color: #ff8800;
}

.cyan{
  background-color: #44ffff;
}

.green {
  background-color: #44ff44;
}

.purple{
  background-color: #ff44ff;
}

.yellow{
  background-color: #ffff44;
}

.red{
  background-color: #ee0000;
}

.blue{
  background-color: #0000ec;
}

.grey{
  background-color: grey;
}

/* aplica la clase orange a algunas de tus etiquetas div para ver el efecto */
