* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 50px;
}
.container1 {
  height: 250px;
  width: 250px;
  background-color: green;
  top: 10px;
  position: relative;
}

.container2 {
  height: 200px;
  width: 200px;
  background-color: purple;
  position: relative;
  top: 250px;
  left: 50px;
}

.container3 {
  height: 150px;
  width: 150px;
  background-color: tomato;
  position: relative;
  left: 200px;
}
.container4 {
  height: 100px;
  width: 100px;
  background-color: gold;
  position: relative;
  bottom: 100px;
}

.container5 {
  height: 50px;
  width: 50px;
  background-color: orangered;
  position: absolute;
  left: -50px;
  bottom: 0px;
}
